body {
    background-color: #DFE7FC;
}


.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(/img/img/653782d413b16.jpeg);
}

.buttonvolverguardar{
    border-color: #061437;
    cursor: pointer;
}
.buttonvolverguardar:hover {
    background-color: white; border: 2px solid #061437;
    background: #061437; color: white;
}
.contenedorimagen {
    height: 700px;
}

.contenedorformulario {
    background-color: #F3F4F6;
}

.contenedortexto {
    margin-top: 150px;
    text-align: center;
}

.contenedordelabarra {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.barritadeseparacion {
    border: solid 1px;
    border-color: black;
    width: 80%;
    
}

.contenedordelabarra2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.barritadeseparacion2 {
    border: solid 1px;
    border-color: black;
    width: 50%;
}

.contenedorformulario {
    height: 700px;
}

.contenedortitulo {
    display: flex;
    justify-content: center;
    align-items: center;
}


